image: registry.smtx.io/xingyu.ren/oven/bun:canary-debian

stages:
  - test
  - build
  - release

variables:
  REGISTRY: registry.smtx.io/xingyu.ren
  IMAGE_NAME: claudereview
  NPM_REGISTRY: https://registry.npmjs.org/
  NPM_REGISTRY_HOST: registry.npmjs.org

.bun-cache:
  before_script:
    - mkdir -p .bun-cache
  cache:
    paths:
      - .bun-cache/
      - node_modules/

test:
  stage: test
  extends: .bun-cache
  only:
    - tags
    - merge_requests
  script:
    - bun install
    - bun run typecheck || true

build-image:
  stage: build
  image: registry.smtx.io/docker:dind
  services:
    - name: registry.smtx.io/docker:dind
      alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  only:
    - tags
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $REGISTRY
  script:
    - |
      docker buildx create --use --name multiarch-builder || docker buildx use multiarch-builder
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        --build-arg BUN_IMAGE=${REGISTRY}/oven/bun:canary-debian \
        -t ${REGISTRY}/${IMAGE_NAME}:${CI_COMMIT_TAG} \
        -t ${REGISTRY}/${IMAGE_NAME}:latest \
        --push \
        .

release-npm:
  stage: release
  extends: .bun-cache
  only:
    - tags
  script:
    # Configure npm registry
    - |
      cat > .npmrc << EOF
      @smartx:registry=${NPM_REGISTRY}
      registry=${NPM_REGISTRY}
      //${NPM_REGISTRY_HOST}/:_authToken=${NPM_AUTH_TOKEN}
      EOF
    # Update version from tag
    - |
      VERSION=${CI_COMMIT_TAG#v}
      sed -i "s/\"version\": \".*\"/\"version\": \"${VERSION}\"/" package.json
    # Publish main package
    - bun install
    - npm publish --access public
    # Publish MCP package
    - cd mcp
    - |
      cat > .npmrc << EOF
      @smartx:registry=${NPM_REGISTRY}
      registry=${NPM_REGISTRY}
      //${NPM_REGISTRY_HOST}/:_authToken=${NPM_AUTH_TOKEN}
      EOF
    - 'sed -i "s/\"version\": \".*\"/\"version\": \"${VERSION}\"/" package.json'
    - npm publish --access public
